nav p {
  display: inline;
  font-size: 25px;
  font-size: 25;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border: 1px outset pink;
}
html{font-family: 'Roboto', sans-serif;}

nav:hover {
  color: black
}

.class1 {
  color: blue;
  font-size: 15px;
}

.class2 {
  color: brown;
  font-size: 15px;
}

#firstID {
  color: brown;
}

.class3 {
  color: green;
  font-size: 15px;
}

body {
  background-color: peachpuff;
}